<!DOCTYPE>
<head>
    <meta charset="UTF-8">
    <title>TEST!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <h2>{{name}}同学，请确认这是你的培养方案内容</h2>

        {% if score_request %}
            <div class="list">
                <h3>毕业学分要求</h3>
            <table class="tb">
                <tr>
                    <td>公共必修学分</td><td>专业核心课</td><td>选修课</td><td>创新实践学分</td>
                </tr>
                <tr>
                    <td>{{score_request.0}}</td>
                    <td>{{score_request.1}}</td>
                    <td>{{score_request.2}}</td>
                    <td>{{score_request.3}}</td>
                </tr>
            </table>
                <p>{{score_request.4}}</p>
            </div>
        {% endif %}
        {% if result_list %}
        {% for key, value in range.items %}
            <div class="list">
                <h3>{{value}}</h3>
            <table class="tb">
                <tr>
                    <td>课程编号</td><td>课程名</td><td>学分</td>
                </tr>
                {% for item in result_list %}
                {% if item.type == key %}
                <tr>
                    <td>{{item.number}}</td>
                    <td width="500px">{{item.name}}</td>
                    <td>{{item.point}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <br>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>