<!DOCTYPE>
<head>
    <meta charset="UTF-8">
    <title>TEST!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
{% if result_list %}
    <div class="list">
    <ul>
        {% for item in result_list %}
            <li><a href="{% url 'counter:detail' item.number %}">{{ item.year }} {{ item.college }} {{item.name}}</a></li>
        {% endfor %}
    </ul>
    </div>
{% endif %}

{% if lesson_list %}
<h3>{{ name }}同学</h3>
{% for key, value in range.items %}
    <div class="list">
        <h2>{{value}}</h2>
    <ul>
        {% for item in lesson_list %}
        {% if item.type == key %}
            <li><p>{{ item }}</p></li>
        {% endif %}
        {% endfor %}
    </ul>
    <br>
    </div>
{% endfor %}
{% endif %}
</body>
</html>